<div class="show-banner">
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
</div>

<%# <button class="button-delete btn btn-danger">Delete the list</button> %>
<%= link_to "", list_path(@list), method: :delete, id: "delete-link", class: "hidden" %>

<div class="container">
  <div class="card-show-title">
    <h1>Movies 🎬</h1>
  </div>
    <div class="row cards-movie">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-6-sm">
          <div class="card-movie">
          <div class="card-poster">
              <%= image_tag bookmark.movie.poster_url, alt: "movie poster" %>
          </div>
          <div class="card-description">
            <div class="card-title">
              <h5><%= bookmark.movie.title %></h5>
              <p> <%= bookmark.movie.rating %> ⭐️</p>
            </div>
            <div class="card-overview">
              <p> <%= bookmark.movie.overview %> </p>
            </div>
            <hr>
              <p><strong>Review</strong></p>
            <div class="card-review">
              <p><%= bookmark.comment %></p>
            <button class="delete-movie btn btn-danger">Delete</button>
            <%= link_to "", bookmark_path(bookmark), method: :delete, id:"delete-bookmark", class: "hidden" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>

    <div class="row">
      <div class="col-12">

        <hr>
        <div class="form">
         <h3>Add a new movie</h3>
        <%= simple_form_for [ @list, @bookmark ] do |f| %>
          <%= f.input :comment, placeholder: 'Add your comment' %>
          <%= f.submit "Add movie", class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>
  </div>
</div>
